:host {
  display: flex;
  min-height: 100vh;
}


.sidenav-header {
  height: 45px;
  display: flex;
  justify-content: end;
}

h3 {
  margin-bottom: 0;
  margin-top: 2rem;
  color: #666;
  padding: 0 0.5rem;
}


.mat-sidenav-container { flex-grow: 1; }

.mat-sidenav-content {
  height: 100%;
}

.mat-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.mdc-list-item.active {
  background-color: #00000020;
}

nav {
  height: 45px;
  padding: 0.5rem;
}

nav .avatar {
  width: 30px;
  height: 30px;
  background-color: #000;
}