.warning-modal-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
}

.warning-modal {
  max-width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-modal mat-icon {
  font-size: 75px;
  width: 75px;
  height: 75px;
  margin-bottom: 2rem;
}

.warning-modal h3 {
  font-size: 30px;
  text-align: center;
}